<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<script type="text/javascript" async="" src="/static/js/analytics.js"></script>
	<script async="" src="/static/js/googletagmanager/0.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-154141771-1');
	</script>
	<script data-ad-client="ca-pub-3996378080318103" async="" src="/static/js/pagead2.googlesyndication.compageadjsadsbygoogle.js"></script>


	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<title>影之末官网</title>
	<link rel="icon" href="pre/img/ico/logo-48.ico" type="image/png">
	<style>
		html::-webkit-scrollbar {
			/* we'll add padding as "border" in the thumb*/
			height: 20px;
			width: 20px;
			background: white;
		}

		html::-webkit-scrollbar-track {
			border-radius: 20px;
			border: 7px solid white; /* FIXME why doesn't "transparent" work here?! */
			background-color: white;
			width: 6px !important; /* 20px scrollbar - 2 * 7px border */
			box-sizing: content-box;
		}
		html::-webkit-scrollbar-track:hover {
			background-color: #BFC0C2;
		}

		html::-webkit-scrollbar-thumb {
			background-color: #3DAEE9; /* default blue breeze color */
			border: 7px solid transparent;
			border-radius: 20px;
			background-clip: content-box;
			width: 6px !important; /* 20px scrollbar - 2 * 7px border */
			box-sizing: content-box;
			min-height: 30px;
		}
		html::-webkit-scrollbar-thumb:window-inactive {
			background-color: #949699; /* when window is inactive it's gray */
		}
		html::-webkit-scrollbar-thumb:hover {
			background-color: #93CEE9; /* hovered is a lighter blue */
		}

		html::-webkit-scrollbar-corner {
			background-color: white; /* FIXME why doesn't "transparent" work here?! */
		}
	</style>
	<link rel="shortcut icon" href="pre/img/ico/logo-48.ico" type="img/x-icon">

	<link href="/static/css/googleapis/0.css" rel="stylesheet" type="text/css">
	<link href="/static/css/googleapis/1.css" rel="stylesheet" type="text/css">

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600" rel="stylesheet" type="text/css">

-->
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.less" rel="stylesheet/less" type="text/css">
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
<link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/static/js/wow.js"></script>
<script type="text/javascript" src="/static/js/classie.js"></script>
<script type="text/javascript" src="/static/js/magnific-popup.js"></script>
<script type="text/javascript" src="./static/js/contactform.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/less.js/3.10.3/less.min.js"></script>


</head>

<body>
  <header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<!-- <a href="http://jymc.top/#"><img src="/static/img/logo.png" alt="" height="140"></a> -->
			</figure>
			<h1 class="animated fadeInDown delay-07s">材质包专区</h1>
			<h2 class="animated fadeInDown delay-06s">WELCOME TO Material packages</h2>
			<ul class="we-create animated fadeInUp delay-1s">
				<h4>在这里可以寻找你所中意的材质包.</h4>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink bg-info" href="http://jymc.top/#service">返回官网主页</a>
		</div>
	</header>
	<!--header-end-->

  <nav class="main-nav-outer scroll-to-fixed-fixed" id="test" style="z-index: auto; position: relative; top: 0px;">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav" style="overflow: hidden;display: none;">
				<li><a href="http://jymc.top/#header">主页</a></li>
				<li><a href="http://jymc.top/#service">论坛</a></li>
				<li></li>
				<li class="small-logo"><a href="http://jymc.top/#header"><img class="rounded-circle" src="/static/img/logo/small-logo-fixed.png" alt=""></a></li>
				<li><div class="dropdown">
					<a href="http://jymc.top/dropbtn">作品</a>
					<div class="dropdown-content">

					<div class="rows">
						<div class="row">
							<a href="https://www.google.com/">材质包</a>
						</div>

						<div class="row">
							<a href="https://www.google.com/">mod</a>
						</div>

						<div class="row">
							<a href="https://www.google.com/">其他</a>
						</div>

						<div class="row">
							<a href="https://www.google.com/">独立游戏</a>
						</div>

					</div>





					</div>
				</div></li>
				<li>{{login|safe}}</li>

			</ul>
			<a class="res-nav_click" href="http://jymc.top/#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->

  <div style="display: block; width: 864px; height: 118px; float: none;"></div><div style="display: none; width: 797px; height: 118px; float: none;"></div><div style="display: none; width: 797px; height: 118px; float: none;"></div>
    <section class="main-section team" id="team">
    <div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="card best" style="width: 59.9rem;height: 22rem;margin-left: 6rem">
        <div style="margin-left: 2rem"><h3><b>精选材质包:</b></h3></div>

        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- 指示符 -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
          </ul>

          <!-- 轮播图片 -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" style="width: 100%;height: 20rem;border-radius: 5px">
              <div class="carousel-caption">
                <h3>第一张图片描述标题</h3>
                <p>描述文字!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" style="width: 100%;height: 20rem;border-radius: 5px">
              <div class="carousel-caption">
                <h3>第二张图片描述标题</h3>
                <p>描述文字!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" style="width: 100%;height: 20rem;border-radius: 5px">
              <div class="carousel-caption">
                <h3>第三张图片描述标题</h3>
                <p>描述文字!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" style="width: 100%;height: 20rem;border-radius: 5px">
              <div class="carousel-caption">
                <h3>第四张图片描述标题</h3>
                <p>描述文字!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" style="width: 100%;height: 20rem;border-radius: 5px"[]>
              <div class="carousel-caption">
                <h3>第五张图片描述标题</h3>
                <p>描述文字!</p>
              </div>
            </div>
          </div>

          <!-- 左右切换按钮 -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
        </div>
        </div>
        </div>
        <br>
        <br>
     <!--card-best-end-->

    <div class="col-sm">
      <div class="card pages" style="width: 59.9rem;margin-left: 5rem">

        <!--card-pages-end-->

        <div style="margin-left: 2rem"><h3><b>材质包:</b></h3></div>
        <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-left: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
  <div class="card-body">
    <p class="card-text">这里是简介.</p>
    <a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包1</a>
  </div>
    </div>
  </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
  <div class="card-body">
    <p class="card-text">这里是简介.</p>
    <a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包2</a>
  </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;margin-right: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
  <p class="card-text">这里是简介.</p>
  <a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包3</a>
</div>
  </div>
</div>
</div>
<br>
<br>
          <div class="row">
<div class="col-sm">
  <div class="card" style="width: 18rem;margin-left: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包4</a>
</div>
</div>
</div>
<div class="col-sm">
  <div class="card" style="width: 18rem;">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包5</a>
</div>
</div>
</div>
<div class="col-sm">
  <div class="card" style="width: 18rem;margin-right: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包6</a>
</div>
</div>
</div>
</div>
<br>
<br>
<div class="row">
<div class="col-sm">
<div class="card" style="width: 18rem;margin-left: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包7</a>
</div>
</div>
</div>
<div class="col-sm">
<div class="card" style="width: 18rem;">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包8</a>
</div>
</div>
</div>
<div class="col-sm">
<div class="card" style="width: 18rem;margin-right: 1rem">
  <div class="col-sm"><div class="card picture" style="width: 14rem;height: 10rem;margin-left: 1rem;margin-top: 0.5rem;border-radius: 15px"><img src="http://4.bp.blogspot.com/-fvGuDgL5M00/UcQP3gXrILI/AAAAAAAAAHo/kVH2NVffEeI/s640/%E5%A4%A7%E7%A0%B208.jpg" class="card-img-top" alt="..." class="width: 18rem;height: 18rem;page-link" style="border-radius: 15px"></div></div>
<div class="card-body">
<p class="card-text">这里是简介.</p>
<a href="#" class="btn btn-primary" style="width: 15.4rem;">材质包9</a>
</div>
</div>
</div>
</div>
<br>
<ul class="pagination pagination-lg" style="margin-left: 12rem">
  <li class="page-item disabled"><a class="page-link" href="#">翻页</a></li>
  <li class="page-item active"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li>
    <div class="container">
	<div class="dropdown">
	  <button type="button" class="page-link dropdown-toggle" data-toggle="dropdown" style="width: 6rem">...</button>
	  <div class="dropdown-menu rows">
		<!-- Dropdown menu links -->
     <center>
		<a class="dropdown-item" href="#">4</a>
        <a class="dropdown-item" href="#">5</a>
        <a class="dropdown-item" href="#">6</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled" href="#">...</a>
        </div>
	</div></li>
  <li class="page-item"><a class="page-link" href="#">下一页</a></li>
</ul>
  </div>
  <br>

  </div>
</div>
</div>
  	</section>
    <center>
        <div class="container">
    			<span class="copyright" style="color: #000000">© 2019 影之末<a href="http://beian.miit.gov.cn/"> 湘ICP备19017460号-1</a></span>
    			<div class="credits">
    				<!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
          -->
      </div>
    </div>
    </center>


<script type="text/javascript">
$(document).ready(function(e) {

  $('#test').scrollToFixed();
  $('.res-nav_click').click(function() {
    $('.main-nav').slideToggle();
    return false

  });

  $('.Portfolio-box').magnificPopup({
    delegate: 'a',
    type: 'image'
  });

});
</script>

<script>
wow = new WOW({
  animateClass: 'animated',
  offset: 100
});
wow.init();
</script>


<script type="text/javascript">
$(window).load(function() {

  $('.main-nav li a, .servicelink').bind('click', function(event) {
    var $anchor = $(this);

    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
    }, 1500, 'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      if ($(window).width() < 768) {
        $('.main-nav').hide();
      }
      event.preventDefault();
    });
})
</script>

<script type="text/javascript">
$(window).load(function() {


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
      // disable window resizing
      resizable: true,
      masonry: {
        columnWidth: colW
      }
    });

  $(window).smartresize(function() {
      // check if columns has changed
      var currentColumns = Math.floor(($body.width() - 30) / colW);
      if (currentColumns !== columns) {
        // set new column count
        columns = currentColumns;
        // apply width to container manually, then trigger relayout
        $container.width(columns * colW)
        .isotope('reLayout');
      }

    }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function() {
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});
</script>




<svg id="zcomponents__svg" style="display: none;"></svg>






  </body></html>
